/* Palette */
/* Typo */
.white {
  color: #D4D4D4;
}

.black {
  color: black;
}

.primary {
  color: #091F43;
}

/* base */
.header {
  background-color: #D1515A !important;
  min-height: 100px;
  color: white !important;
  font-size: 16px;
}
@media screen and (min-width: 1000px) {
  .header {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .header {
    font-size: 20px;
  }
}

.footer {
  background-color: #D1515A !important;
  min-height: 100px;
  color: white !important;
  padding-top: 50px;
  font-size: 16px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1000px) {
  .footer {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .footer {
    font-size: 20px;
  }
}

.main {
  background-color: #091F43;
  min-height: 680px;
  color: #D4D4D4;
  text-align: center;
  padding-bottom: 2%;
  background-color: #091F43;
  justify-content: center;
}

.fa {
  font-size: 32px;
}

.card-body {
  background-color: #D1515A;
  color: black;
  font-size: 16px;
  border-color: #D1515A;
  border-width: 2px;
  border-style: inset;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1e1e1;
}
@media screen and (min-width: 1000px) {
  .card-body {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .card-body {
    font-size: 20px;
  }
}

.card-header {
  color: black;
  padding-top: 10px;
  padding-bottom: 15px;
}

.card-footer {
  width: 80%;
  margin-left: 10%;
}

.card {
  margin: 5px;
  height: 100%;
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #D4D4D4;
  color: black;
  padding-bottom: 1%;
}

.navbar {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
}

a {
  color: unset;
}
a:hover {
  color: #091F43;
}

.site-navigation {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

li {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.addToCartBtn:active {
  background-color: #fc0446;
}

.disabled {
  background-color: gray;
}

h1 {
  padding-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a:focus {
  scale: 1.2;
  border-color: #fc0446 !important;
  border-style: solid !important;
  border-width: 4px !important;
}

/* bootstrap card */
.small-card {
  width: 100%;
  min-width: 200px;
  margin: 0.5%;
}
@media screen and (min-width: 1000px) {
  .small-card {
    width: 24%;
  }
  .small-card #cardImage {
    height: 200px;
  }
}

.flex {
  display: flex;
  flex-wrap: inherit;
}

#start {
  padding-bottom: 20px;
}

#cardName {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: unset;
}
@media screen and (min-width: 1000px) {
  #cardName {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #cardName {
    font-size: 20px;
  }
}

#cardPrice {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  font-weight: bold;
  display: flex;
}

.label {
  margin-right: 20px;
}

.confirmationText {
  padding: 20px;
  display: block;
}

.formulaire {
  text-align: initial;
  padding-bottom: 20px;
}

#totalPrice {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  #totalPrice {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #totalPrice {
    font-size: 20px;
  }
}

/* Animation */
@keyframes btnAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
/* Btn */
.btnPurp {
  border-color: #D4D4D4;
  background-color: #fc0446;
  color: white;
}
.btnPurp:hover {
  animation-name: btnAnimation;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.btnSmall {
  border-radius: 40px;
  font-size: 16px;
  padding: 10px;
  border-width: 10px;
}
@media screen and (min-width: 1000px) {
  .btnSmall {
    border-radius: 20px;
    font-size: 24px;
    padding: 5px;
    border-width: 5px;
  }
}

.btnBig {
  border-radius: 40px;
  font-size: 16px;
  padding: 10px;
  border-width: 10px;
}
#orderBtn {
  width: 480px;
  max-width: 70vw;
  z-index: 1;
  position: relative;
}

.btn {
  background-color: #D4D4D4;
}

.block-admin {
  width: 80%;
  margin-left: 10%;
}

.bouton {
  margin: 10px;
}

.btn {
  background-color: #D4D4D4;
  border-color: black;
  border-width: 1px;
  border-style: outset;
  border-radius: 10px;
  color: black;
}
.btn:hover {
  color: #D1515A;
  animation-name: btnAnimation;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
.btn:focus {
  scale: 1.2;
  border-color: #fc0446 !important;
  border-style: solid !important;
  border-width: 4px !important;
}

.messImage {
  max-width: 90%;
  max-height: 80%;
  border-color: black;
  border-width: 3px;
  border-style: inset;
  border-radius: 15px;
  margin: 20px;
}

.position-centrale {
  width: 80%;
  margin-left: 10%;
}

.publication {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 24px;
  border-color: #D1515A;
  border-width: 2px;
  border-style: solid;
}

/*# sourceMappingURL=style.css.map */
