/* Palette */
$primary_color: #091F43;
$secondary_color: #D4D4D4;
$third_color: #fc0446;
$background_color: #D1515A;
$white: #D4D4D4;
$black: black;
$transparent: rgba(255, 255, 255, 0);

/* Typo */

.white {
    color: $white;
}

.black {
    color: $black;
}

.primary {
    color: $primary_color;
}

/* base */

.header {
    background-color: $background_color !important;
    min-height: 100px;
    color: white !important;
    font-size: 16px;
    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }
    @media screen and (min-width: 600px)  and ( max-width: 1000px) {
        font-size: 20px;
    }
}

.footer {
    background-color: $background_color !important;
    min-height: 100px;
    color: white !important;
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 5px;
    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }
    @media screen and (min-width: 600px)  and ( max-width: 1000px){
        font-size: 20px;
    }
}

.main {
    background-color: $primary_color;
    min-height: 680px;
    color: $white;
    text-align: center;
    padding-bottom: 2%;
    background-color: $primary_color;
    justify-content: center;

}

.fa {
    font-size: 32px;
}

.card-body {
    background-color: $background_color;
    color: black;
    font-size: 16px;
    border-color: $background_color;
border-width: 2px;
border-style: inset;
width: 50%;
margin-left: auto;
margin-right: auto;
background-color: lighten($secondary_color, 5%);
@media screen and (min-width: 1000px) {
    font-size: 24px;
}
@media screen and (min-width: 600px)  and ( max-width: 1000px){
    font-size: 20px;
}
}

.card-header{
    color: $black;
    padding-top: 10px;
    padding-bottom: 15px;
}

.card-footer {
    width: 80%;
margin-left: 10%;
}

.card {
    margin: 5px;
    height: 100%;
    width: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: $white;
    color: $black;
    padding-bottom: 1%;
}

.navbar{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

a {
    color: unset;
    &:hover {
        color: $primary_color;
    }
}

.site-navigation{
    display: flex;
    align-content: space-between;
    justify-content: center;
}

li {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.addToCartBtn{
    &:active {
        background-color: $third_color;
    }
}

.disabled {
    background-color: gray;
}

h1 {
    padding-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

a {
    &:focus {
        transform: scale(1.05);
        border-color: $primary_color !important;
        border-style: solid !important;
        border-width: 2px !important;
        border-radius: 50%;
    }
}

/* bootstrap card */

.small-card {
    @media screen and (min-width: 1000px) {
    width: 24%;
     #cardImage {
        height: 200px;
    }
    }

    width: 100%;
    min-width: 200px;
    margin: 0.5%;
}



.flex {
    display: flex;
    flex-wrap: inherit;
}

#start {
    padding-bottom: 20px;
}

#cardName {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: unset;
    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }
    @media screen and (min-width: 600px)  and ( max-width: 1000px){
        font-size: 20px;
    }
}

#cardPrice {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form {
    font-weight: bold;
    display: flex;
}

.label {
    margin-right: 20px;
}

.confirmationText {
    padding: 20px;
    display: block;
}

.formulaire {
    text-align: initial;
    padding-bottom: 20px;
}



#totalPrice {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }
    @media screen and (min-width: 600px)  and ( max-width: 1000px){
        font-size: 20px;
    }
}



/* Animation */

@keyframes btnAnimation
{
    0%{
        transform: scale(1.0)
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.05);
    }
}

/* Btn */

.btnPurp {
    
    border-color: $secondary_color;
    background-color: $third_color;
    color: white;
    &:hover {
        animation-name: btnAnimation;
        animation-duration: 500ms;
        animation-fill-mode: both;
    }
    
}


.btnSmall {
    border-radius: 40px;
        font-size: 16px;
        padding: 10px;
        border-width: 10px;
    
    @media screen and (min-width: 1000px) {
        
        border-radius: 20px;
        font-size: 24px;
        padding: 5px;
        border-width: 5px;
    }
}

.btnBig {
    border-radius: 40px;
    font-size: 16px;
    padding: 10px;
    border-width: 10px;
    @media screen and (min-width: 1000px) {

    }
}

#orderBtn {
    width: 480px;
    max-width: 70vw;
    z-index: 1;
    position: relative;
}



.btn {
    background-color: $white;
}

.block-admin{
    width: 80%;
    margin-left: 10%;
}

.bouton {
    margin: 10px;
}

.btn {
    background-color: $white;
    border-color: $black;
    border-width: 1px;
    border-style: outset;
    border-radius: 10px;
    color: black;
    &:hover {
        color:$background_color;

            animation-name: btnAnimation;
            animation-duration: 500ms;
            animation-fill-mode: both;

    }
    &:focus {
        transform: scale(1.05);;
        border-color: $background_color !important;
        border-style: solid !important;
        border-width: 2px !important;
    }
}

.messImage{
    max-width: 90%;
    max-height: 80%;
    border-color: black;
    border-width: 3px;
    border-style: inset;
    border-radius: 15px;
    margin:20px;
}

.position-centrale {
    width: 80%;
margin-left: 10%;
}

.publication {
    padding-bottom: 10px;
padding-top: 10px;
font-weight: bold;
font-size: 24px;
border-color: $background_color;
border-width: 2px;
border-style: solid;
}